.App {
  text-align: center;
}

.Row {
  display: flex;
  flex-direction: row;
}

.Column {
  display: flex;
  flex-direction: column;
}

.Box {
  width: 600px;
  height: 600px;
  background-color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.InputContainerMain {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  background-color: #5749a0;
  border-width: 2px;
  border-radius: 3px;
  margin-top: 200px;
  border-color: #000;
  height: fit-content;
}

.InputContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.Input {
  width: 400px;
  height: 50px;
  font-size: 30px;
  padding: 10px;
}

.Button {
  margin-right: 100px;
  background-color: #5749a0;
  border-width: 2px;
  border-radius: 3px;
  border-color: #000;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 20px;
}

.Title {
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-display: initial;
  font-style: normal;
  color: #ff0;
  margin-bottom: 30px;
}

.Warning {
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-display: initial;
  font-style: normal;
  color: #ff0;
  margin-bottom: 30px;
}
